{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{# {% block breadcrumbs %}{% endblock %} #}

{% block content %}
<div id="content-main">
  <div class="panel panel-default" id="apps">
    <div class="table-responsive table-apps" style="padding: 1rem">
      <h1>BIENVENIDO/A</h1>
      <p>Al sistema de carga del IX Congreso Nacional de Extensión y VIII Jornadas de Extensión del Mercosur. Para cargar su ponencia, video o poster seleccione la opción en el menú lateral.</p>
      <br>
      <img class="center-block" src="{% static 'img/logos.png' %}">
      <br>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}
  <script src="{% static "bootstrap_admin/js/dashboard.js" %}"></script>
{% endblock js %}
