{% extends 'base.html' %}

{% block page_content %}
<section class="map our-speaker-area section-padding-100">
  <div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Confirme su dirección de correo electrónico</h4>
        <p>Revise su correo electrónico y busque el correo de confirmación (asunto: "Congreso de Extensión: Confirmación de cuenta"). Siga los pasos ahí detallados. Si no lo encuentra revise la carpeta de correos no deseados o spam. </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}