{% extends 'base.html' %}

{% block page_content %}
<section class="map our-speaker-area section-padding-100">
  <div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
      <div class="alert alert-success" role="alert">
        <svg class="bi bi-alert-triangle text-success" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        </svg>
        <h4 class="alert-heading">Su cuenta se ha activado correctamente!</h4>
        <p>Recuerde su usuario y contraseña, porque con ella podrá ingresar en los próximos días para cargar las ponencias, los papers o los posters.
Para más información sobre el Congreso <a href="http://extension.unicen.edu.ar/congreso">ingrese aquí</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}