{% extends "nueva_base.html" %}
{% load static %}
{% block page_content %}

<div class="contenedor">
    <img src="{% static 'img/Base_Talleres.webp' %}" class="image-background">

    <a href="/" class="t_return">
        <img src="{% static 'img/Flecha_Home.webp' %}">
    </a>

    <div class="t_menu-base"></div>
    <div class="t_menu-content">
        <div class="t_menu-title">ENLACES DE INGRESO</div>

        <div class="t_menu-links scrollbar_enable">
            {% for workshop in workshops %}
            <a href="{{workshop.youtube_url_embed}}" class="link">
                <b>{{ workshop.date_time|date:'l d - H:i\h' }}</b>
                <br>
                {{ workshop.title }}
            </a>
            {% endfor %}
        </div>
    </div>

</div>

<script>
    $('.link').click(function (e) {
        e.preventDefault();
        var videoPlayer = document.getElementById("t_video");
        var newlink = $(this).attr('href');

        var links = document.getElementsByClassName("link");
        for (var i = 0; i < links.length; i++) {
            links[i].classList.remove("active");
        };
        $(this).addClass("active");

        if(typeof(videoPlayer) != 'undefined' && videoPlayer != null){
            videoPlayer.setAttribute("src", newlink);
        } else{
            var videoPlayerNew = document.createElement("iframe");
            var contenedor = document.getElementsByClassName("contenedor")[0];
            contenedor.appendChild(videoPlayerNew);
            videoPlayerNew.setAttribute("src", newlink);
            videoPlayerNew.setAttribute("title", "YouTube video player");
            videoPlayerNew.setAttribute("frameborder", "0");
            videoPlayerNew.setAttribute("allow", "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture");
            videoPlayerNew.setAttribute("allowfullscreen", "");
            videoPlayerNew.id = "t_video";
        }
    });
</script>

{% endblock %}