{% load static %}

<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-50-0 background1">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Area -->

                <!--div class="hidden-xs hidden-sm col-md-8 col-lg-7">
                    <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms"-->

                        <!--   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13619.785234313194!2d-62.102350108333084!3d-31.415605340242514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cb28503f73860f%3A0xa4607cc996083ed4!2sUTN+Facultad+Regional+de+San+Francisco!5e0!3m2!1ses!2sar!4v1556837473532!5m2!1ses!2sar" width="100%" height="256" frameborder="0" style="border:0" allowfullscreen></iframe>
                       -33.741179, -61.948820 -->
                        <!--iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.9758966290847!2d-64.19461108544895!3d-31.442330504652265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2f63bd47aa7%3A0xd84b77324dd71bc8!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20(U.T.N.)%20%E2%80%93%20Facultad%20Regional%20C%C3%B3rdoba%20(F.R.C.)%20%5BCiudad%20Universitaria%5D!5e0!3m2!1ses!2sar!4v1604359971284!5m2!1ses!2sar"
                                width="100%" height="256" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>

                    </div>
                </div-->


                <!--div class="col-12 col-sm-7 col-lg-5">
                    <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
                        </br-->
                        <!-- Footer Logo-->
                        <!--a href="https://www.frc.utn.edu.ar/"><img src="{% static 'img/logo_cba.png' %}" alt=""></a>
                        </br><p> UTN Facultad Regional Córdoba</br>www.frc.utn.edu.ar </br>Maestro Marcelo López esq,
                        Cruz Roja, Córdoba </br>+54-0351-5986000</p-->

                        <!--<address><p class="text-center"><strong>Universidad Tecnológica Nacional Facultad Regional Venado Tuerto</strong></p><p class="text-center">Laprida 651  <span class="fa fa-phone"></span> (03462) 425534 / 431013</p><p class="text-center">Venado Tuerto - Santa Fe - Argentina</p></address>-->
                        <!-- Social Info

                        <div class="social-info">
                            <a href="https://www.facebook.com/utnsanfrancisco/" target="blanck"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/utnsanfrancisco/" target="blanck"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCw5iNPn6LFC3EAjWWc2Nv0A" target="blanck"><i class="zmdi zmdi-youtube-play"></i></a>
                        </div>

                        -->

                    <!--/div>
                </div-->
                <!--   <div class="col-12 col-sm-12 col-lg-4">
                      <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">

                    <p>UTN Facultad Regional Córdoba</p>
                          <p>Av. de la Universidad 501</p>
                          <p>(2400) San Francisco - Córdoba, Argentina</p>
                          <p>Tel. (03564) 421147 / 435402</p>
                          <p>www.sanfrancisco.utn.edu.ar</p>
                      </div>
                  </div>-->


                <!-- Copywrite Area -->
                <div class="container">
                    <div class="copywrite-content">
                        <div class="row">


                            <div class="col-12 col-md-6">
                                <div class="copywrite-text">
                                    <p>
                                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                        UNIVERSIDAD TECNOLÓGICA NACIONAL
                                    </p>

                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <p class="text-right"><a href="mailto:congresoextension@utn.edu.ar" style="color:#909090">congresoextension@utn.edu.ar</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>