{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools pull-right">
      {% block object-tools-items %}
        <li>
          {% url cl.opts|admin_urlname:'add' as add_url %}
          <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink" title="{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}" data-placement="left" data-toggle="tooltip" role="button">
            <!--span class="glyphicon glyphicon-plus"></span-->
            Agregar Nueva
          </a>
        </li>
      {% endblock %}
    </ul>
  {% endif %}
{% endblock %}
